@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/utils/animations";
@import "./sass/layouts/header";
@import "./sass/layouts/location-info";
@import "./sass/layouts/functioning";
@import "./sass/layouts/restaurants";
@import "./sass/layouts/footer";
@import "./sass/layouts/pages-restaurant";

/* GeneralSetting */
body{
    font-family: "Roboto" , sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

h1{
    font-family: "Shrikhand" , cursive;
}

/* Animations */
.FadeIndex{
    animation: FadeIndex ease 3700ms forwards;
    animation-iteration-count: 1;
}

.FadePages{
    animation: FadeIn ease 1000ms forwards;
    animation-iteration-count: 1;  
}

.fa-heart {
    cursor: pointer;
}
.fa-heart:hover {
    background: $LinearGradient--Inverse;
    color: transparent;
    transition: color 600ms ease;
    font-weight: 700;
    -webkit-background-clip: text;
}