body {
  font-family: "Roboto" , sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand" , cursive;
}

.container__mobile {
  max-width: 768px;
  width: 100%;
}

.container__desktop {
  max-width: 1440px;
  width: 100%;
}

.header__home h1 {
  text-align: center;
  font-size: 8vw;
  margin: 1vh;
}

/* location */
.location {
  background-color: #EAEAEA;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5) inset;
}

.location i {
  font-size: 4.1vw;
  margin-right: 2vw;
}

.location__input {
  background-color: #EAEAEA;
  height: 10%;
  width: 40%;
  font-size: 4.1vw;
  font-weight: 600;
  color: black;
  border: none;
}

.location__input::-webkit-input-placeholder {
  color: black;
}

.location__input:-ms-input-placeholder {
  color: black;
}

.location__input::-ms-input-placeholder {
  color: black;
}

.location__input::placeholder {
  color: black;
}

/* info */
.info {
  background-color: #F6F6F6;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.info h2 {
  font-size: 8vw;
}

.info p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 5vw;
}

.btn {
  background-color: #FF79DC;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DC), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DC 5%, #9356DC 100%);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  padding: 1rem 2rem;
  font-size: 4vw;
  margin: 1rem 0 5rem 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.btn:active {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 100ms;
  transition: 100ms;
}

/* functioning */
.functioning {
  margin: 0 7vw 0 7vw;
}

.functioning h2 {
  margin-top: 2rem;
  font-size: 6vw;
}

.functioning__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 6px 6px 0 #EAEAEA;
          box-shadow: 0 6px 6px 0 #EAEAEA;
  border-radius: 1rem;
  padding: .25rem 0 .25rem 0;
  margin-bottom: 2rem;
}

.functioning__menu div, .functioning__menu i, .functioning__menu h3 {
  margin-right: 5vw;
  font-size: 4.5vw;
}

.functioning__menu div {
  background-color: #9356DC;
  padding: .3rem .6rem;
  font-size: 3vw;
  border-radius: 50%;
  margin-left: -2vw;
  color: white;
}

.functioning__menu i {
  color: rgba(0, 0, 0, 0.5);
}

.functioning__menu .fas--color {
  color: #9356DC;
}

.functioning__menu--color {
  background-color: #f5e2ffce;
}

/* restaurants */
#restaurants {
  background-color: #F6F6F6;
  margin-top: 4rem;
  padding-bottom: 4vh;
}

#restaurants h2 {
  padding: 7vh 6vw 0 7vw;
  font-size: 6vw;
}

.thumbnail {
  background-color: white;
  border-radius: 1rem 1rem;
  margin: 0 7vw 3vh 7vw;
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: 20vh;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnail h3 {
  margin: 1vh 3vw 0 3vw;
}

.thumbnail .new {
  position: absolute;
  top: 1.5vh;
  right: 3vw;
  font-size: 3.5vw;
  padding: 1.5vw 1.5vh;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 600;
  border-radius: .2rem;
}

.thumbnail i {
  position: absolute;
  right: 5vw;
  bottom: 3.5vh;
  font-size: 5vw;
}

.thumbnail p {
  margin: 0 3vw 0 3vw;
  padding-bottom: 3vh;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1vh 7vw 3.5vh 7vw;
}

footer h2 {
  font-family: "Shrikhand" , cursive;
  font-size: 6vw;
}

footer div {
  margin-bottom: 1vh;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto" , sans-serif;
  font-size: 6vw;
}

footer .link--margin {
  margin-left: 3vw;
}

footer .fa-utensils {
  font-size: 4.5vw;
}

footer .fa-hands-helping {
  font-size: 3.2vw;
}
/*# sourceMappingURL=style.css.map */