/* animation loader */
@keyframes loader {
    0% {
        transform: scale(0) translateY(0) rotateX(360deg);
        transform-origin: 50% 0%;
        color: $primary;
        text-shadow: $secondary 1px 1px, $secondary -1px 1px, $secondary -1px -1px, $secondary 1px -1px;
    }
    25% {
        color: $primary;
        text-shadow: $secondary 1px 1px, $secondary -1px 1px, $secondary -1px -1px, $secondary 1px -1px;
    }
    50% {
        transform: scale(1.8) translateY(+300%);
        color: $secondary;
        text-shadow: $tertiary 1px 1px, $tertiary -1px 1px, $tertiary -1px -1px, $tertiary 1px -1px;
    }
    75% {
        color: $tertiary;
        text-shadow: $primary 1px 1px, $primary -1px 1px, $primary -1px -1px, $primary 1px -1px;
    }
    100% {
        transform: scale(1) translateY(0) rotateX(360deg);
        transform-origin: 50% 0%;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* animation slide menu */
  @keyframes menu__slide {
    0% {
        transform: translateY(+25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  