@mixin header__title {
    font-size: $header__font-size;
    text-align: $header__center;
    margin: $header__margin;
}

/* base button */
@mixin button {
    background: $linear-gradient;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
    padding: .8rem 1.5rem;
    font-size: 2vh;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    text-decoration:none;
    opacity: 1;
}

/* inverse gradient button */
@mixin button-bg {
    background: $linear-gradient-inverse;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5);
    opacity: 0.75;
    transition: opacity 250ms;
}

/* small shadow */
@mixin box-shadow{
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* big shadow */
@mixin box-shadow__big {
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.5);
}

/* scaling effect */
@mixin scaling {
    transform: scale(1.03);
    transition: 150ms ease-in-out;
} 