@mixin HeaderTitle {
    font-size: $Header--FontSize;
    text-align: $Header--Center;
    margin: $Header--Margin;
}

@mixin BoxShadow{
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@mixin BoxShadow--Big {
    box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.5);
}

@mixin Scaling {
    transform: scale(1.02);
    transition: 150ms ease-in-out;
}

@mixin Ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}