$primary: #9356DC;
$secondary: #FF79DC;
$tertiary: #99E2D0;
$background: #F6F6F6;
$background--darken: #EAEAEA;
$white: #fff;
$footer__font-size: 2.5vh;
$location-info__font-size: 2.5vh;
$location-info__font-weight: 300;
$functioning__font-size: 2vh;
$header__font-size: 5vh;
$header__center: center;
$header__margin: 0;
$width: 100%;
$pages-restaurant__font-weight: 300;