.footer__container{
    position: relative;
    background-color: #353535;
    color: $white;
    padding: 1vh 3vh 3vh 3vh;
    & h2{
        font-family: "Shrikhand" , cursive;
        font-size: $footer__font-size;
        font-weight: $footer__font-weight;  
    }
    & div{
        margin-bottom: 1vh;
    }
    & a{
        text-decoration: none;
        color: $white;
        font-family: "Roboto" , sans-serif;
        font-size: $footer__font-size;
        font-weight: $footer__font-weight;
    }
    .fa-utensils{
        font-size: $footer__font-size;
        margin-right: 1.5vh;
    }
    .fa-hands-helping{
        font-size: 2vh;
        margin-right: 1vh;
    }
    .footer__container--link{
        &:hover{
            border-bottom: 1px solid $secondary;
        }
        &:active{
            color: $secondary;
        }
    }
}