.functioning{
    width: 90%;
    max-width: 400px;
    margin: 5vh auto;
    & h2{
        font-size: 2.8vh;
        margin-left: 3vh;
    }
}

.functioning__menu{
    display: flex;
    align-items: center;
    background-color: $background;
    box-shadow: 0 3px 3px 0 $background--darken;
    border-radius: 1rem;
    padding: .25rem 0 .25rem 0;
    margin-bottom: 2rem;
    & div{
        background-color: $primary;
        padding: .25rem .5rem;
        border-radius: 50%;
        margin-left: -1vh;
        color: white;
        font-size: 2.3vh;
        margin-right: 2vh;
    }
    & i{
        color: rgba(0, 0, 0, 0.5);
        font-size: 3vh;
        margin-right: 2vh;
    }
    & h3{
        font-size: 2.3vh;
    }
    .fas--color{
        color: $primary;
    }
}

.functioning__menu--color{
    background-color: #f5e2ffce;
}