.header__home{
    display: flex;
    justify-content: center;
    & h1{
        font-size: 8vw;
        margin: 0;
    }
}

.header__restaurant{
    display: flex;
    align-items: center;
    justify-content: center;
    & a{
        text-decoration: none;
    }
    & i{
        display: inline;
        margin: 1.5rem 0 0 3rem;
        font-size: 4vw;
        color: black;
        &:active{
            color: $primary
        }
    }
    & h1{
        text-align: center;
        font-size: 8vw;
        margin: 0;
    }
}

