.location{
    background-color: $background--darken;
    padding: 1rem;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.5) inset;
    font-size: $location-info__font-size;
    font-weight: $location-info__font-weight;
    text-align: center;
    & i{
        margin-right: 2vh;
    }
}

.info{
    background-color: $background;
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    & h2{
        font-size: 4vh;
    }
    & p{
        font-size: $location-info__font-size;
        font-weight: $location-info__font-weight;
    }
}

.btn {
    @include button;
    &:hover{
        @include button-bg;
    }
    &:active{
        @include box-shadow__big;
        @include scaling;
    }
}