.main__restaurant{
    display: flex;
    align-items: center;
    flex-direction: column;
    & img{
        width: $width;
        height: 30vh;
        object-fit: cover;
    }
}

.restaurant__container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -3rem;
    width: 100%;
    background-color: $background;
    padding: 2rem 0;
    border-radius: 1.5rem 1.5rem 0 0;
}

.restaurant__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h2{
        font-family: "Shrikhand" , cursive;
        font-size: 3.3vh;
        margin: 0 2vh;
    }
    & i{
        font-size: 3.3vh;
        margin-right: 2vh;
    }
}

.menu{
    background-color: $background;
    & h3{
        padding-top: 1vh;
        margin-left: 2vh;
        font-size: 2.8vh;
        text-transform: uppercase;
    }
    &--border{
        padding-bottom: .2rem;
        border-bottom: 3px solid $tertiary;
    }
    &--anim01{
    animation: menu__slide 600ms ease-in 300ms both;
    }
    &--anim02{
        animation: menu__slide 600ms ease-in 450ms both;
    }
    &--anim03{
        animation: menu__slide 600ms ease-in 600ms both;
    }
    &--anim04{
        animation: menu__slide 600ms ease-in 750ms both;
    }
    &--bg{
        background-color: $white;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        border-radius: 1rem;
        padding: 1vh 1vh;
        margin: 2vh 2vh;
        cursor: pointer;
        & h4{
            font-size: 2.2vh;
            margin: 0.5vh 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .menu__accompaniment-price__container{
            display: flex;
            justify-content: space-between;
        }
        .menu__accompaniment{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            & span{
                font-size: 1.9vh;

            }
        }
        .menu__price{
            font-size: 2vh;
        }
        &:hover .menu__choose{
            visibility: visible;
            transform-origin: right;
            animation: scale-x 600ms ease-in-out both;
            & i{
                animation: rotate360 600ms ease-in-out both; 
            }
        }
        &:hover .menu__price{
            padding-right: 7vh;
            transition: 600ms ease-in-out;
        }

    }
}

.menu__choose{
    display: flex;
    align-items: center;
    background: $tertiary;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    & i{
        font-size: 3.5vh;
        padding: 0 2vh;
        color: $white;
    }
}

.order{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.btn__order{
    padding: 2vh 6vh;
}