#Restaurants{
    background-color: $Background;
    padding: .5rem .5rem 1.5rem .5rem;
    max-width: 1024px;
    margin: 0 auto;
    & h2{
        font-size: clamp(20px, 3vw, 26px);
        margin-left: .75rem;
    }
}

.Restaurant{
    & a{
        text-decoration: none;
        color: black;
    }
    .Restaurant__Thumbnail{
        background-color: white;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.5);
        border-radius: 1rem; 
        margin: 0 .75rem 2rem .75rem;
        position: relative;
        &:hover{
           @include BoxShadow;
            transition: 150ms ease-in-out;        
        }
        &:active{
            @include BoxShadow--Big;
            @include Scaling;
        }
        & img{
            width: $Width;
            height: 12.5rem;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
        }
        &__New{
            position: absolute;
            top: .75rem;
            right: .75rem;
            font-size: clamp(14px, 3vw, 18px);
            padding: .5rem .75rem;
            background-color: $Tertiary;
            color: darken($Tertiary, 35);
            font-weight: 600;
            border-radius: .55rem;
        }
        & h3{
            margin: .25rem .5rem;
            font-size: clamp(20px, 3vw, 26px);
        }
        & p{
            margin: .25rem .5rem;
            padding-bottom: .25rem;
            font-size: clamp(18px, 3vw, 24px);
            font-weight: 300;
        }
        & i{
            position: absolute;
            right: 1vh;
            bottom: 2vh;
            font-size: clamp(24px, 3vw, 30px);
        }
    }
}